@media only screen and (min-width: 850px) {
    .body-container{
        height: calc(100dvh - var(--xl));
        display: grid;
        grid-template-rows: 64px 1fr;
        gap: 16px;
    }
}

@media only screen and (max-width: 849px) {
    .body-container{
        height: calc(100dvh - var(--xl) - 64px - 16px);
        display: grid;
        grid-template-rows: 64px 1fr;
        gap: 16px;
    }
}