.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;

    .element{
        height: 200px;
        width: 200px;
        background-color: aqua;
    }
}