/* Schermi grandi o ad alta risoluzione */
@media all and (min-width: 1690px) {
    .page-container{
        padding: var(--l-md);
        display: flex;
        flex-direction: row;
        gap: var(--l-md);
    }
    
    .grow{
        flex-grow: 1;
    } 
}

/* Schermi Desktop o Portatili */
@media all and (min-width: 1280px) and (max-width: 1689px) {
    .page-container{
        padding: var(--l-md);
        display: flex;
        flex-direction: row;
        gap: var(--l-md);
    }
    
    .grow{
        flex-grow: 1;
    } 
}

/* Tablet in modalità orizzontale */
@media all and (min-width: 850px) and (max-width: 1279px) {
    .page-container{
        padding: var(--l-md);
        display: flex;
        flex-direction: row;
        gap: var(--l-md);
    }
    
    .grow{
        flex-grow: 1;
    } 
}

/* Tablet in modalità verticale */
@media all and (min-width: 481px) and (max-width: 850px) {
    .page-container{
        padding: var(--l-md);
        display: flex;
        flex-direction: column-reverse;
        gap: var(--l-md);
        
    }
}

/* Smartphone o piccoli Tablet */
@media all and (max-width: 480px) {
    .page-container{
        padding: var(--l-md);
        display: flex;
        flex-direction: column-reverse;
        gap: var(--l-md);
        
    }
}