@import "./assets/colors.scss";
@import "./assets/layout.scss";

html{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--text);
    margin: 0;
    background-color: var(--bg-lv1);
}

body{
    margin: 0;
}

h1, h2, p{
    margin: 0;
}

*::-webkit-scrollbar{
    width: 0rem;
    height: 0rem;
}

*::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background-color: --scroll;
}