@import "./assets/colors.scss";
@import "./assets/layout.scss";
@import "./assets/text.scss";
@import "./assets/components/buttons.scss";

html{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--text);
    margin: 0;
    background-color: var(--bg-lv1);
}

body{
    margin: 0;
}

h1, h2, p{
    margin: 0;
}

*::-webkit-scrollbar{
    width: 0rem;
    height: 0rem;
}

*::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background-color: --scroll;
}

// @media all and (min-width: 1690px) {}

// @media all and (min-width: 1280px) and (max-width: 1689px) {}

// @media all and (min-width: 850px) and (max-width: 1279px) {}

// @media all and (min-width: 481px) and (max-width: 850px) {}

// @media all and (max-width: 480px) {}