.navbar-container{
    height: var(--l-xxl);
    border-radius: var(--l-s);
    display: flex;
    gap: var(--l-md);
    flex-direction: row;
    align-items: center;
}

.spacer{
    flex-grow: 1
}

.avatar{
    padding: var(--l-s);
    border-radius: 100px;
    margin-left: var(--l-md);
    color: var(--text);
    border: solid 2px var(--text);
}